# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/

# Environment and secrets
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Test output
test-results.json

# Misc
*.log
.cache/
